<form action="">
  <div class="input-group input-group-lg mb-2">
    <span class="input-group-addon">
      <i class="fa fa-user" aria-hidden="true"></i>
    </span>
    <input type="text" name="user" id="user" class="form-control" placeholder="Usuario" aria-describedby="user" />
  </div>
  <div class="input-group input-group-lg mb-2">
    <span class="input-group-addon">
      <i class="fa fa-credit-card" aria-hidden="true"></i>
    </span>
    <input type="text" name="number" id="numberCard" class="form-control" placeholder="Número tarjeta" aria-describedby="number" />
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="input-group input-group-lg mb-2">
        <span class="input-group-addon">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
        <input type="text" name="date" id="dateCard" class="form-control" placeholder="MM/YY" aria-describedby="date" />
      </div>
    </div>
    <div class="col-md-5">
      <div class="input-group input-group-lg mb-2">
        <span class="input-group-addon">
          <i class="fa fa-key" aria-hidden="true"></i>
        </span>
        <input type="text" name="key" id="keyCard" class="form-control" placeholder="CVVV" aria-describedby="key"/>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-success">
      <i class="fa fa-database" aria-hidden="true"></i>&nbsp;Guardar
    </button>
  </div>
</form>
