<div class="bg-light p-2 show">
  <h3 class="text-center">Listado de tarjetas</h3>
  <table class="table text-center">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Número</th>
        <th>Fecha</th>
        <th colspan="2">Opciones</th>
      </tr>
    </thead>
    <tbody *ngIf="cards.length > 0">
      <tr *ngFor="let item of cards; let i = index">
        <td scope="row">{{item.user}}</td>
        <td>{{item.numberCard}}</td>
        <td>{{item.dateCard}}</td>
        <td>
          <i class="fa fa-pencil-square text-warning" aria-hidden="true" title="editar"></i>
        </td>
        <td>
          <i class="fa fa-trash text-danger" (click)="deleteCard(i)" aria-hidden="true" title="eliminar"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
