<table class="table">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Número</th>
      <th>Fecha</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Lorem ipsum dolor sit amet</td>
      <td>89748945</td>
      <td>50/19</td>
      <td>
        <i class="fa fa-pencil-square" aria-hidden="true"></i>&nbsp;<i
          class="fa fa-trash"
          aria-hidden="true"
        ></i>
      </td>
    </tr>
    <tr>
      <td scope="row">Lorem ipsum dolor sit amet</td>
      <td>89748945</td>
      <td>50/19</td>
      <td>
        <i class="fa fa-pencil-square" aria-hidden="true"></i>&nbsp;<i
          class="fa fa-trash"
          aria-hidden="true"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
